body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 3.625rem;
  font-family: 'Sacramento', cursive;
  line-height: 0;
  
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #145A32;
  font-weight: normal;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #6C3483 ;
}

hr {
  border-style: dotted none none;
  border-width: 6px;
  border-color: #EAF6F6;
  width: 4%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.top-container {
  background-color:#7FFFD4;
  position: relative;
 padding-top: 40px;
 padding-bottom: 30px;
  margin-bottom: 100px;
 
  }
.middle-container{
	margin:100px;
	font-weight:bolder;
}
.bottom-container {
  height: 130px;
  background-color: #66BFBF;
  line-height: 2;
  padding-top: 30px;
}

.top-pic {
   position:relative;
   left:10px;
}

.bottom-pic{
   position: absolute;
   right: 10px
}

.footer-link {
  color: #11999E;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
}

.footer-link:hover {
  color: #EAF6F6;
}
.category-designing {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
  font-weight: bolder;
}

.skills {
  font-weight: bolder;
}

.pro-img {
  width: 25%;
  border-radius: 100%;
}

.html-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.webdesign-img {
  height:100%;
  width: 100%;
  float:left;
  margin-left: 0px;
}

.footer {
  color: #EAF6F6;
  font-family: 'Merriweather', serif;
  font-weight: lighter;
  font-size: 0.75rem;
  padding: 20px 0;

}

.contact-me {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.social {
  font-weight:bolder;
  margin-top: 50PX;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #cde3fa 5%, #11999E 100%);
  background-color: #cde3fa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 6px 24px;
  text-decoration: none;
  margin-top: 50px;
  text-shadow: 0px 1px 0px #528ecc;
  line-height: 1;
}

.btn:hover {
  background: linear-gradient(to bottom, #378de5 5%, #cde3fa 100%);
  background-color: #378de5;
}

.btn:active {
  position: relative;
  top: 1px;
}
